.carousel {
    overflow: hidden;
}

.carousel-cards {
    display: flex;
    width: max-content;
    position: absolute;
    align-items: center;
    left: 50%;
}

.carousel-cards .card {
    transition: 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    width: 30em;
}

#max {
    width: min-content;
    height: min-content;
    position: static;
}

body {
    height: min-content;
}

@media screen and (min-width: 1000px) {
    .carousel-cards .card {
        width: 50em;
        height:min-content;
        display:flex;
    }
}